/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --primary-color: #3e0e12;
  --primary-color-dark: #2f0a0d;
  --primary-color-light: #7b6f71;
  --primary-color-lighten: #fbf9f9;
  --text-color: #524748;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margin Bottom ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Font size for large devices */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==================== BASE ====================*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--primary-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
}

/*==================== LAYOUT ====================*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-inline: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*==================== NAV ====================*/

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: 900ms;
    box-shadow: 0 2px 4px rgba(0 0 0 /0.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: var(--primary-color-lighten);
  transition: 300ms;
}

.nav__link:hover {
  color: var(--primary-color-light);
}

.nav__logo,
.nav__toggle {
  color: var(--primary-color-lighten);
  z-index: 99;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* show menu */
.show-menu {
  top: calc(var(--header-height) - 5px);
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--primary-color-light);
}

/* Change background header */
.scroll-header {
  background-color: var(--primary-color-lighten);
  box-shadow: 0 2px 4px rgba(0 0 0 /0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: var(--primary-color-dark);
}

.scroll-header .nav__menu {
  background-color: var(--primary-color-lighten);
}

/*================= Scroll TOP =================*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(123 111 113 /0.7);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 400ms;
  visibility: hidden;
}

.scrolltop :hover {
  background-color: var(--primary-color);
}

.scrolltop__icon {
  font-size: 2rem;
  color: var(--primary-color-lighten);
}

.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*==================== HOME ====================*/
.home {
  background-color: #000;
  overflow: hidden;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  gap: 2rem;
}
.home__data {
  border-left: 4px solid var(--primary-color-lighten);
  color: var(--primary-color-lighten);
  padding-left: 1.5rem;
  z-index: var(--z-tooltip);
}

.home-name {
  font-size: var(--big-font-size);
}

.home__greeting,
.home__profession {
  display: block;
  font-weight: var(--font-bold);
}

.home__greeting {
  font-size: 0.813rem;
}

.home__profession {
  font-size: 0.983rem;
  margin-bottom: var(--mb-3);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 400px;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: var(--mb-2);
  color: var(--primary-color-lighten);
}

.home__social-icon:hover {
  color: var(--primary-color-light);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--primary-color-lighten);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: 300ms;
}

.button:hover {
  background-color: var(--primary-color-dark);
}

.button-light {
  background-color: var(--primary-color-light);
}

/*==================== ABOUT ====================*/

.about__data {
  text-align: center;
}

.about__description {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--primary-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 250px;
  border-radius: 18px;
}

/*==================== SKILLS ====================*/

/*==================== QUALIFICATION ====================*/

.qualification__container {
  row-gap: 2.5rem;
}

.qualification__title {
  font-size: var(--h3-font-size);
  color: var(--primary-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
  display: flex;
  align-items: center;
  gap: var(--mb-1);
}

.qualification__title-icon {
  font-size: 1.5rem;
}

.qualification__box {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.qualification__icon,
.qualification__work {
  font-size: var(--smaller-font-size);
  color: var(--primary-color-light);
}

.qualification__work {
  display: flex;
  align-items: center;
  gap: var(--mb-1);
}

.qualification__work-credential {
  color: inherit;
  cursor: pointer;
}

.qualification__work-credential:hover {
  text-decoration: underline;
}

/*==================== SERVICES ====================*/

/* Active Modal */

/*==================== PORTFOLIO ====================*/

/*==================== PROJECT IN MIND ====================*/

/*==================== TESTIMONIAL ====================*/

/*==================== CONTACT ME ====================*/

/*==================== FOOTER ====================*/

/*========== SCROLL UP ==========*/

/* Show scroll */

/*========== SCROLL BAR ==========*/

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

/* For medium devices */

/* For large devices */
